<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PaleTree.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PaleTree.Properties.Settings>
            <setting name="X" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Y" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterRecvEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterSendEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1140</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="FilterRecv" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterSend" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterRecvInvertedEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterSendInvertedEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </PaleTree.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
