<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PaleTree.Plugins.VariablePreview.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PaleTree.Plugins.VariablePreview.Properties.Settings>
            <setting name="X" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Y" serializeAs="String">
                <value>-1</value>
            </setting>
        </PaleTree.Plugins.VariablePreview.Properties.Settings>
    </userSettings>
</configuration>