<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PaleTree.Plugins.Open010.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PaleTree.Plugins.Open010.Properties.Settings>
            <setting name="Folder010" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderTpl" serializeAs="String">
                <value />
            </setting>
        </PaleTree.Plugins.Open010.Properties.Settings>
    </userSettings>
</configuration>